In [1]:
print("hello world")

hello world

In [11]:
def calc(x, y):
    """
    fist number: x  type: int
    second number: y type: int
    we will add two numbers
    and subtract two numbers
    and multiply two numbers
    and divide two numbers
    and return all
    """
    ruslt_add = x + y
    ruslt_sub = x - y
    ruslt_mul = x * y
    rult_div = x / y
    return f"nume_1 is {x} nume_2 is {y} | sum is {x + y} | sub is {x - y} | mul is {x * y} | div is {x / y}"

In [12]:
calc(4,2)

'nume_1 is 4 nume_2 is 2 | sum is 6 | sub is 2 | mul is 8 | div is 2.0'

In [ ]:
def get_info(name,age,country="egypt"):
    """
    this function will return info about me
    name: str
    age: int
    country: str
    """
    return f"my name is {name} and my age is {age} and my country is {country}"

In [ ]:
get_info(name = "Nour Eldin",age = 21,country = "egypt")

'my name is Nour Eldin and my age is 21 and my country is egypt'

In [16]:
def function(*info):
    print(info)
    print(type(info))

In [17]:
function("nour",21,"egypt","giza","student","AAST")

('nour', 21, 'egypt', 'giza', 'student', 'AAST')
<class 'tuple'>

In [18]:
def function_2(**text):
    print(text)
    print(type(text))

In [20]:
function_2(name="nour",age=21,country="egypt",city="giza",job="student",univ="AAST",massage=["hello","world"])

{'name': 'nour', 'age': 21, 'country': 'egypt', 'city': 'giza', 'job': 'student', 'univ': 'AAST', 'massage': ['hello', 'world']}
<class 'dict'>

In [21]:
lambda x : x + 10

In [23]:
function_3 = lambda a, b: a + b
type(function_3)
print(function_3(5, 3))

8

In [24]:
"""
calculate Factorial of number using recursion
"""
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

In [25]:
factorial(5)

120

In [29]:
def prime(num):
    for i in range(2, num):
        if num % i == 0:
            return f"{num} is not a prime number"
    return f"{num} is a prime number"
prime(4)

'4 is not a prime number'

In [ ]:
"""
this function will return all common divisors between two numbers
a: int
b: int
return list of common divisors 
type of ruturn is list  
"""
def common_divisor(a, b):
    divisors = []
    for i in range(1, min(a, b) + 1):
        if a % i == 0 and b % i == 0:
            divisors.append(i)
    return divisors

In [ ]:
common_divisor(12, 18)

[1, 2, 3, 6]

In [38]:
even = []
function_4 = lambda x: even.append(x) if x % 2 == 0 else None
#list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
z = int(input("enter numbe: "))
function_4(z)
print(even)

[6]

In [39]:
e = []
def even_numbers(num):
    for i in range(num):
        if i % 2 == 0:
            e.append(i)
    return e
even_numbers(10)

[0, 2, 4, 6, 8]

In [41]:
"""
lorgest common string between two strings
get two strings
return the lorgest common string
"""
str_1 = input()
str_2 = input()
lcs = ""
for i in range(min(len(str_1), len(str_2))):
    if str_1[i] == str_2[i]:
        lcs += str_1[i]
    else:
        break
print(lcs)

nour eldin ahmed